/* Root */

body {
	--font-editor-theme: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Inter, Ubuntu, sans-serif;
	--font-editor: var(--font-editor-override), var(--font-text-override), var(--font-editor-theme);
}

/* FOUNDATIONS */
body {
	/* Borders */

	/* Cursor */

	/* Icons */
	--icon-color-hover: hsl(var(--color-accent-hsl));
	--icon-color-active: hsl(var(--color-accent-hsl));
	--icon-color-focused: hsl(var(--color-accent-hsl));
	--icon-opacity: 0.8;

	/* Layers */

	/* Radiuses */

	/* Spacing */

	/* Typography */
	--bold-color: var(--color-cyan);
	--italic-color: var(--color-green);
	--p-spacing-empty: 0.1rem;
}

/* WINDOW */
body {
	/* Divider */
	--divider-color-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);;

	/* Ribbon */

	/* Scrollbar */
	--scrollbar-active-thumb-bg: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);

	/* Sidebar */

	/* Status bar */

	/* Window frame */

	/* Workspace */
}

/* COMPONENTS */
body {
	/* Button */

	/* Checkbox */

	/* Color input */

	/* Dialog */

	/* Dragging */

	/* Dropdowns */

	/* Indentation guides */

	/* Modal */

	/* Multi-select */

	/* Navigation */
	--nav-item-color-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.775);
	--nav-item-color-active: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.95);
	--nav-item-color-selected: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.95);
	--nav-item-weight: 500;
	--nav-item-weight-hover: 500;

	/* Popover */

	/* Prompt */

	/* Slider */
	--slider-thumb-border-width: 2px;
	--slider-thumb-border-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.75);
	--slider-track-background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
	--slider-track-height: 3px;

	/* Tabs */
	--tab-text-color: var(--text-faint);
	--tab-text-color-active: var(--text-muted);
	--tab-text-color-focused: var(--text-muted);
	--tab-text-color-focused-active: var(--text-muted);
	--tab-text-color-focused-highlighted: var(--text-accent);
	--tab-text-color-focused-active-current: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	--tab-font-weight: 700;
	--tab-stacked-font-weight: 700;

	/* Text inputs */

	/* Toggle */
}

/* EDITOR */
body {
	/* Block */
	--embed-block-shadow-hover: none;

	/* Blockquote */
	--blockquote-background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.05);
	--blockquote-border-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
	--blockquote-color: var(--text-muted);

	/* Callout */
	--callout-border-width: 2px;
	--callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
	--callout-radius: var(--radius-m);

	/* Code */
	--code-radius: var(--radius-m);

	/* Embed */
	--embed-max-height: 750px;
	--embed-border-start: 2px solid hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);

	/* File */
	--file-header-font-weight: 700;

	/* Footnote */

	/* Headings */
	--h1-size: 1.802em;
	--h2-size: 1.602em;
	--h3-size: 1.424em;
	--h4-size: 1.266em;
	--h5-size: 1.125em;
	--h6-size: 1em;
	--h1-weight: 700;
	--h2-weight: 700;
	--h3-weight: 700;
	--h4-weight: 700;
	--h5-weight: 700;
	--h6-weight: 700;

	/* Horizontal rule */

	/* Inline title */
	--inline-title-color: var(--text-normal);
	--inline-title-size: 1.92em;
	--inline-title-weight: 700;

	/* Link */
	--link-unresolved-opacity: 0.7;
	--link-unresolved-filter: grayscale(25%);

	/* List */
	--list-indent: 2em;
	--list-marker-color-collapsed: var(--text-faint);

	/* Metadata */
	--metadata-background: var(--color-base-10);
	--metadata-border-radius: var(--radius-m);
	--metadata-property-radius: var(--radius-s);
	--metadata-property-radius-hover: var(--radius-s);
	--metadata-property-radius-focus: var(--radius-s);

	/* Table */
	--table-background: var(--background-secondary);
	--table-border-color: var(--background-modifier-border);
	--dataview-table-tbody-size: calc(var(--font-text-size) * 0.82);  // Non standard variable
	--dataview-table-thead-size: calc(var(--font-text-size) * 0.88);  // Non standard variable

	/* Tag */
	--tag-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.925);
	--tag-color-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.95);
	--tag-padding-x: 0.7em;
	--tag-padding-y: 0.3em;
	--tag-radius: 1em;
}
