/* Theme */

.theme-light {
	/* Extended colors */
	--color-red-rgb: 224, 48, 53;
	--color-orange-rgb: 224, 131, 48;
	--color-yellow-rgb: 206, 201, 42;
	--color-green-rgb: 47, 206, 42;
	--color-cyan-rgb: 42, 206, 201;
	--color-blue-rgb: 36, 113, 212;
	--color-purple-rgb: 131, 48, 224;
	--color-pink-rgb: 224, 48, 141;

	--color-red: #e03035;
	--color-orange: #d57929;
	--color-yellow: #b6b11c;
	--color-green: #0fa50a;
	--color-cyan: #18ada8;
	--color-blue: #2471d4;
	--color-purple: #8330e0;
	--color-pink: #e0308d;
	
	/* Base colors */
	--color-base-00: #f7f7f7;
	--color-base-05: #f0f0f0;
	--color-base-10: #e7e7e7;
	--color-base-20: #e0e0e0;
	--color-base-25: #dadada;
	--color-base-30: #d4d4d4;
	--color-base-35: #c7c7c7;
	--color-base-40: #bdbdbd;
	--color-base-50: #aaaaaa;
	--color-base-60: #707070;
	--color-base-70: #4f4f4f;
	--color-base-100: #222222;

	/* Text colors */
	--text-accent: #7e55dd;
	--text-accent-hover: rgba(126, 85, 221, 0.825);
	
	--dataview-table-even-bg-color: var(--color-base-10);  // Non standard variable
	--dataview-table-odd-bg-color: var(--color-base-05);  // Non standard variable
	--dataview-table-row-hover: var(--color-accent-hsl);  // Non standard variable

	/* Tags background colors */
	--tag-background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.125);
	--tag-background-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);

	/* Heading transparency */
	--h-transparency: 12%;  // non standard variable
	--h-hover-transparency: 25%;  // non standard variable
}

.theme-dark {
	/* Extended colors */
	--color-red-rgb: 224, 48, 53;
	--color-orange-rgb: 224, 131, 48;
	--color-yellow-rgb: 206, 201, 42;
	--color-green-rgb: 47, 206, 42;
	--color-cyan-rgb: 42, 206, 201;
	--color-blue-rgb: 36, 113, 212;
	--color-purple-rgb: 131, 48, 224;
	--color-pink-rgb: 224, 48, 141;
	
	--color-red: #e03035;
	--color-orange: #e08330;
	--color-yellow: #cec92a;
	--color-green: #32ce2d;
	--color-cyan: #2dcec9;
	--color-blue: #2471d4;
	--color-purple: #9149e4;
	--color-pink: #e0308d;

	/* Base colors */
	--color-base-00: #191919;
	--color-base-05: #1e1e1e;
	--color-base-10: #222222;
	--color-base-20: #313131;
	--color-base-25: #363636;
	--color-base-30: #414141;
	--color-base-35: #4c4c4c;
	--color-base-40: #555555;
	--color-base-50: #666666;
	--color-base-60: #999999;
	--color-base-70: #b3b3b3;
	--color-base-100: #dadada;

	/* Text colors */
	--text-accent: #8a5cf5;
	--text-accent-hover: rgba(138, 92, 245, 0.825);
	
	--dataview-table-even-bg-color: var(--color-base-10);  // Non standard variable
	--dataview-table-odd-bg-color: var(--color-base-05);  // Non standard variable
	--dataview-table-row-hover: var(--color-accent-hsl);  // Non standard variable

	/* Tags background colors */
	--tag-background: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.075);
	--tag-background-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.05);

	/* Heading transparency */
	--h-transparency: 7%;  // non standard variable
	--h-hover-transparency: 20%;  // non standard variable
}

.theme-light, .theme-dark {
	/* FOUNDATIONS */
	/* Surface colors */
	--background-primary: var(--color-base-00);
	--background-primary-alt: var(--color-base-10);
	--background-secondary: var(--color-base-05);
	--background-secondary-alt: var(--color-base-05);
	--background-modifier-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.08);
	--background-modifier-active-hover: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.08);
	--background-modifier-border: var(--color-base-25);
	--background-modifier-border-hover: var(--color-base-30);
	--background-modifier-border-focus: var(--color-base-35);
	// --background-modifier-error-rgb: var(--color-red-rgb);
	// --background-modifier-error: var(--color-red);
	// --background-modifier-error-hover: var(--color-red);
	// --background-modifier-success-rgb: var(--color-green-rgb);
	// --background-modifier-success: var(--color-green);
	// --background-modifier-message: rgba(0, 0, 0, 0.9);
	--background-modifier-form-field: var(--color-base-05);

	/* Interactive colors */
	// --interactive-normal: var(--color-base-00);
	// --interactive-hover: var(--color-base-05);
	// --interactive-accent-hsl: var(--color-accent-hsl);
	// --interactive-accent: var(--color-accent-1);
	// --interactive-accent-hover: var(--color-accent-2);

	/* Text colors */
	// --text-normal: var(--color-base-100);
	// --text-muted: var(--color-base-70);
	// --text-faint: var(--color-base-50);
	// --text-on-accent: #ffffff;
	// --text-on-accent-inverted: #000000;
	// --text-error: var(--color-red);
	// --text-warning: var(--color-orange);
	// --text-success: var(--color-green);
	// --text-selection: hsla(var(--color-accent-hsl), 0.2);
	--text-highlight-bg-rgb: 236, 235, 0;
	--text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
	// --caret-color: var(--text-normal);
	
	/* EDITOR */
	/* Header colors */
	--h1-color: var(--color-blue);
	--h2-color: var(--color-purple);
	--h3-color: var(--color-pink);
	--h4-color: var(--color-red);
	--h5-color: var(--color-orange);
	--h6-color: var(--color-yellow);
	
	/* Link */
	--link-external-color: #0071e3;
	--link-external-color-hover: #0764c1;

	/* OTHER */
	// --collapse-icon-color: var(--text-faint);
	--collapse-icon-color-collapsed: var(--text-faint);
}
