/* Nav */

.nav-folder {
	font-weight: 500;
}

.nav-folder.is-being-dragged-over > .nav-folder-title {
	color: var(--nav-item-color-active);
}

.nav-file-title, .nav-file:hover, .nav-file-title.is-active {
	font-weight: 400;
}
