/* Headline */

.view-content.node-insert-event .tree-item-inner {
	border-radius: 2px;
	padding: 2px 6px 3px 6px;
	font-weight: 500;
	transition: background-color .75s ease-in-out;
}

.view-content.node-insert-event .tree-item .tree-item-self.is-active, 
.view-content.node-insert-event .tree-item .tree-item-self.is-clickable:hover {
	background-color: inherit;
}

.view-content.node-insert-event .tree-item {

	& .tree-item-inner {
		color: var(--h1-color);
		background-color: color-mix(in srgb, var(--h1-color) var(--h-transparency), transparent);
	}
	
	& .tree-item-self.is-active .tree-item-inner,
	& .tree-item-self.is-clickable:hover .tree-item-inner {
		color: var(--h1-color);
		background-color: color-mix(in srgb, var(--h1-color) var(--h-hover-transparency), transparent);
	}
	
	& .tree-item-self.is-clickable:hover .tree-item-inner {
		border-left: 2px solid var(--h1-color);
		padding-left: 4px;
	}

	& .tree-item {
		
		& .tree-item-inner {
			color: var(--h2-color);
			background-color: color-mix(in srgb, var(--h2-color) var(--h-transparency), transparent);
		}

		& .tree-item-self.is-active .tree-item-inner,
		& .tree-item-self.is-clickable:hover .tree-item-inner {
			color: var(--h2-color);
			background-color: color-mix(in srgb, var(--h2-color) var(--h-hover-transparency), transparent);
		}
	
		& .tree-item-self.is-clickable:hover .tree-item-inner {
			border-left: 2px solid var(--h2-color);
			padding-left: 4px;
		}
	
		& .tree-item {
			
			& .tree-item-inner {
				color: var(--h3-color);
				background-color: color-mix(in srgb, var(--h3-color) var(--h-transparency), transparent);
			}

			& .tree-item-self.is-active .tree-item-inner,
			& .tree-item-self.is-clickable:hover .tree-item-inner {
				color: var(--h3-color);
				background-color: color-mix(in srgb, var(--h3-color) var(--h-hover-transparency), transparent);
			}
	
			& .tree-item-self.is-clickable:hover .tree-item-inner {
				border-left: 2px solid var(--h3-color);
				padding-left: 4px;
			}
		
			& .tree-item {
				
				& .tree-item-inner {
					color: var(--h4-color);
					background-color: color-mix(in srgb, var(--h4-color) var(--h-transparency), transparent);
				}

				& .tree-item-self.is-active .tree-item-inner,
				& .tree-item-self.is-clickable:hover .tree-item-inner {
					color: var(--h4-color);
					background-color: color-mix(in srgb, var(--h4-color) var(--h-hover-transparency), transparent);
				}
	
				& .tree-item-self.is-clickable:hover .tree-item-inner {
					border-left: 2px solid var(--h4-color);
					padding-left: 4px;
				}
			
				& .tree-item {
					
					& .tree-item-inner {
						color: var(--h5-color);
						background-color: color-mix(in srgb, var(--h5-color) var(--h-transparency), transparent);
					}

					& .tree-item-self.is-active .tree-item-inner,
					& .tree-item-self.is-clickable:hover .tree-item-inner {
						color: var(--h5-color);
						background-color: color-mix(in srgb, var(--h5-color) var(--h-hover-transparency), transparent);
					}
	
					& .tree-item-self.is-clickable:hover .tree-item-inner {
						border-left: 2px solid var(--h5-color);
						padding-left: 4px;
					}
				
					& .tree-item {
						
						& .tree-item-inner {
							color: var(--h6-color);
							background-color: color-mix(in srgb, var(--h6-color) var(--h-transparency), transparent);
						}

						& .tree-item-self.is-active .tree-item-inner,
						& .tree-item-self.is-clickable:hover .tree-item-inner {
							color: var(--h6-color);
							background-color: color-mix(in srgb, var(--h6-color) var(--h-hover-transparency), transparent);
						}
	
						& .tree-item-self.is-clickable:hover .tree-item-inner {
							border-left: 2px solid var(--h6-color);
							padding-left: 4px;
						}
					}
				}
			}
		}
	}
}
