/* Headers */

/* Reading view */
h1, h2, h3, h4, h5, h6 {
	margin: 0 -8px;
	border-radius: var(--radius-s);
	padding: 4px 8px;
	transition: background-color .75s ease;
}

h1 {
	background-color: color-mix(in srgb, var(--h1-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h1-color) var(--h-hover-transparency), transparent);
	}
}

h2 {
	background-color: color-mix(in srgb, var(--h2-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h2-color) var(--h-hover-transparency), transparent);
	}
}

h3 {
	background-color: color-mix(in srgb, var(--h3-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h3-color) var(--h-hover-transparency), transparent);
	}
}

h4 {
	background-color: color-mix(in srgb, var(--h4-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h4-color) var(--h-hover-transparency), transparent);
	}
}

h5 {
	background-color: color-mix(in srgb, var(--h5-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h5-color) var(--h-hover-transparency), transparent);
	}
}

h6 {
	background-color: color-mix(in srgb, var(--h6-color) var(--h-transparency), transparent);

	&:hover {
		background-color: color-mix(in srgb, var(--h6-color) var(--h-hover-transparency), transparent);
	}
}

.markdown-preview-view .heading-collapse-indicator {
	margin-inline-start: -30px;
}

/* Live preview */
body {
	--live-heading-bg-top: calc((var(--p-spacing) * 9) / 16);
	--live-heading-bg-bottom: calc((var(--p-spacing) * 7) / 16);
	--live-heading-padding: calc(var(--live-heading-bg-top) * 1.5);
}

.cm-s-obsidian.is-live-preview .cm-line.HyperMD-header {
	padding-top: var(--live-heading-padding);
	padding-bottom: var(--live-heading-padding);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-1 {
	background: var(--h1-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h1-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h1-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-2 {
	background: var(--h2-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h2-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h2-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-3 {
	background: var(--h3-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h3-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h3-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-4 {
	background: var(--h4-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h4-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h4-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-5 {
	background: var(--h5-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h5-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h5-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}

.cm-s-obsidian.is-live-preview .HyperMD-header-6 {
	background: var(--h6-color);
	background: linear-gradient(
		180deg,
		transparent 0px,
		transparent var(--live-heading-bg-top),
		color-mix(in srgb, var(--h6-color) var(--h-transparency), transparent) var(--live-heading-bg-top),
		color-mix(in srgb, var(--h6-color) var(--h-transparency), transparent) calc(100% - var(--live-heading-bg-bottom)),
		transparent calc(100% - var(--live-heading-bg-bottom)),
		transparent 100%,
	);
}
