h1, h2, h3, h4, h5, h6 {
	margin: 0 -8px;
	padding: 4px 8px;
	border-radius: 4px;
	transition: all .75s ease;
}

h1 {
	background-color: rgba(var(--color-blue-rgb), 0.1);
}

h2 {
	background-color: rgba(var(--color-purple-rgb), 0.1);
}

h3 {
	background-color: rgba(var(--color-pink-rgb), 0.1);
}

h4 {
	background-color: rgba(var(--color-red-rgb), 0.1);
}

h5 {
	background-color: rgba(var(--color-orange-rgb), 0.1);
}

h6 {
	background-color: rgba(var(--color-yellow-rgb), 0.1);
}

h1:hover {
	background-color: rgba(var(--color-blue-rgb), 0.3);
}

h2:hover {
	background-color: rgba(var(--color-purple-rgb), 0.3);
}

h3:hover {
	background-color: rgba(var(--color-pink-rgb), 0.3);
}

h4:hover {
	background-color: rgba(var(--color-red-rgb), 0.3);
}

h5:hover {
	background-color: rgba(var(--color-orange-rgb), 0.3);
}

h6:hover {
	background-color: rgba(var(--color-yellow-rgb), 0.3);
}
